html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
}


.header {
    font-family: "Katibeh","serif";
    background-color: #2A1C16; 
    color: #C88C1C; 
    text-align: center;
    padding: 6px 0;
    font-size: 3.5rem;
    border-bottom: 4px solid #ffffff; 
    font-weight: 508;
    font-style: normal;
    font-variation-settings: "100";
}


.banner {
    position: relative;
    height: calc(100vh - 150px); 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.banner-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.overlay { 
    position: absolute;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2A1C16;
    opacity: 85%;
    color: #ffffff;
    padding: 60px;
    border-radius: 1px;
    text-align: center;
   
}

.main-text {
    font-family: "Kalnia", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: bold;
}

.sub-text {
    font-family: "Kaisei Tokumin", serif; 
    font-size: 1rem;
    margin: 10px 0;
   
}


.btn-custom {
    font-family: "Kaisei Tokumin", serif;
    font-weight: 700;
    font-style: bold;
    font-size: 1rem;
   
    padding: 10px 30px;
    border-radius: 30px; 
    cursor: pointer;
    background-color:#C88C1C; 
    font-weight: bold;
    border: none; 
    position:absolute; 
    bottom: 90px; 

    
}

.btn-custom:hover {
    background-color: #4B2F15;
    color:#ffffff;
}

.text-border {
    color:#D2992F; 
    text-shadow: 2px 1px  #ffffff ;
    
}




.footer {
    background-color:#2A1C16; 
    color: #2A1C16; 
    text-align: center;
    padding: 15px 0;
    border-top: 4px solid #ffffff; 
    position: relative;
}

/* Responsive Design */
@media (max-width: 768px) {

    .header{
        font-size: 3.0rem;
    }
    .main-text {
        font-size: 2rem;
    }

    .sub-text {
        font-size: 1rem;
    }

    .overlay {
        width: 95%;
    }

    .btn-custom {
        bottom: 90px;
        
    }
   
}

@media (max-width: 576px) {

    .header{
        font-size: 3.0rem;
    }
    .main-text {
        font-size: 1.5rem;
    }

    .sub-text {
        font-size: 0.8rem;
    }
    .overlay {
        width: 90%;
    }

    .btn-custom {
        bottom: 90px; 
    }
    
    
}
